{% extends "well_base.html" %} 


{% block content %}
<main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center" >
        Bienvenidos a la Pagina Inicial de la Biblioteca
      </h1>
      
    </section>
  </main>
  <div class="container-fluid">
    <p class="text-center"><em>
        En esta pagina podras hacer tu llenado de solicitud de algun libro que te
        gusto por cierto disfruta de nuestra pagina
    </em></p>
  </div>

{% endblock %}
